<div class="login_lang">
  <md-button class="lang_button" (click)="changeLang()">{{lang}}</md-button>
</div>
<div layout="column" flex layout-align="center center" class="md-padding splash-background">
  <div class="login-logo">
    <img src="{{::logoSrc}}">
  </div>
  <form class="login-form" name="loginForm" (submit)="login()">
    <fieldset>
      <md-input-container  class="md-block">
        <label translate="login.USERNAME" ng-class="{'floating-label-rtl':dir==='rtl'}" class="login-label">Username</label>
        <input required ng-model="credentials.username" ng-focus="onFocus()" type="text">
        <div ng-messages="loginForm.credentials.username.$error" ng-show="loginForm.credentials.username.$dirty">
          <div ng-message="required" translate="login.MESSAGE_REQUIRED">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container  class="md-block" auto-fill-fix>
        <label translate="login.PASSWORD" ng-class="{'floating-label-rtl':dir==='rtl'}" class="login-label">Password</label>
        <input required ng-model="credentials.password" ng-focus="onFocus()" type="password">
        <div ng-messages="loginForm.credentials.password.$error" ng-show="loginForm.credentials.password.$dirty">
          <div ng-message="required" translate="login.MESSAGE_REQUIRED">This is required.</div>
        </div>
      </md-input-container>
      <div layout-align="center center" layout="column" ng-if="oneTimePassword">
        <p class="login-otp-message" translate="login.OTP_MESSAGE">Enter the code which you received by SMS</p>
        <md-button class="md-warn login-otp-retry" translate="login.OTP_RETRY" ng-click="retry()">Retry</md-button>
      </div>
      <md-input-container class="md-block" ng-if="oneTimePassword">
        <label translate="login.SECURITY_CODE" class="login-label">Security code</label>
        <input required ng-model="credentials.securityCode" ng-focus="onFocus()" type="password">
        <div ng-messages="loginForm.credentials.securityCode.$error" ng-show="loginForm.credentials.securityCode.$dirty">
          <div ng-message="required" translate="login.MESSAGE_REQUIRED">This is required.</div>
        </div>
      </md-input-container>
      <div layout-align="center">
        <section layout-align="center" layout="row" layout-sm="column">
          <div id="login-error" md-caption class="msg-error" ng-show="error" class="label">{{error}}</div>
          <md-button type="submit" class="md-raised login-button" [disabled]="clicked || loginForm.$invalid" translate="login.LOGIN">Login</md-button>
        </section>
      </div>
    </fieldset>
  </form>
  <md-divider></md-divider>
  <footer class="login-footer">
    <div layout="row" layout-align="center center">
      <md-button (click)="goToCustomerCare()" class="login-footer-link" translate="login.CUSTOMER_CARE">Contact Customer Care</md-button>
      <div> | </div>
      <md-button (click)="showDisclaimer()" class="login-footer-link" translate="login.DISCLAIMER">Disclaimer</md-button>
    </div>
  </footer>
</div>
